.contact-bar, .contact-bar__list, .contact-bar__item,.contact-bar__nav-link{
    background-color: #005f6b;
    color: rgb(236, 236, 236);
    font-family: dosis;
    font-size: small;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
}
