.NavBar, ._logo, .__nav-link, .headName, ._logo-text, .nav-item, .nav, .developed-link {
    background-color: rgb(236, 236, 236);
    color: #005f6b;
    font-family: dosis;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
}